header { 
              height:30px;
              position: fixed;
              background-color:#3366FF;
              top: 0px;
              left:0px;
              width:100%;
              z-index:9;
   }
    section{
             float: left;
             width: 15%;
             height: 100%;
             background-color: #99CCFF;
             color: white;
             margin-top:30px;
             overflow: scroll;
             margin-bottom:0px;
             position:fixed;
    }
    aside {
             float: left;
             width: 85%;
             height: 900px;
             background-color: #CCFF99;
             margin-top:30px;
             position:relative;
             margin-left:15%;
         }
         body {
             margin: 0px;
             background-color:#3366FF;
         }
         main {
              position: relative;
          }
          img.card {
              height: 200px;}
          img#a{
              position: absolute;
              top: 50px;
              left: 50px;
          }
          figure{position:absolute;
                top:100px;
                left:100px;
                width:30%;
                height:30%;
                background-color:#FF3399;
                border-style:solid;
                border-color:black;
                border-width:3px;
          }
          #a{top:200px;
            left:200px;}
    
 h1 {width:75%;
      text-shadow: 4px 2px #0066ff;}
      
 table {border-width:4px;
     background-color:#CCCCee;
     margin:0px;
     padding: 0px;
 }


 td {border:3px solid black;
     text-align:center;
 }
 th{font:25;
    font-style:bold;
     border:3px solid black;
 }
 .blue{background-color:#85ADFF;}
 .red{background-color:#FF5050;}
.blank{border-style:none;}
.green{background-color:#99FF66;}
.darkgreen{background-color:#55ff22;}

.sticky{position:fixed;margin-right:5px;}
